@media (max-width: 992px) {
    .navbar-nav-scroll {
        background-color: #333 !important;
    }
    .navbar-menu {
        height: 90px !important;
        background-color: #333;

        &__container {
            flex-direction: row !important;
            justify-content: space-between !important;

            &__logo {
                height: 50px !important;
                margin-right: auto !important;
            }
        }
    }
    .order-nav-background {
        height: 90px;
    }

    .hero-video{
        margin-top: 90px;
    }

    .footer{
       flex-wrap: wrap;

       &__responsive-text{
        text-align: center;
       }
    }
}